<template>
  <div class="container">
    <form-component
      :content="contentData.mainForm"
      :data="propsData"
    />
    <history-component
      :content="contentHistoryData"
    />
  </div>
</template>

<script>
import FormComponent from './FormComponent.vue';
import HistoryComponent from './HistoryComponent.vue';

export default {
    components: {
        'form-component': FormComponent,
        'history-component': HistoryComponent,
    },
    props: {
        propsData: {
            type: Object,
            required: true,
        },
        contentData: {
            type: Object,
            required: true,
        },
        contentHistoryData: {
            type: Object,
            required: true,
        },
    },
};
</script>

<style></style>
