<template>
  <div
    v-if="links.length > 0"
    class="container"
  >
    <div class="row justify-content-md-center">
      <div class="col-md-10 py-5">
        <h3 class="font-weight-bold">
          {{ content.title }}
        </h3>
        <table class="table">
          <thead>
            <tr>
              <th style="max-width: 500px">
                {{ content.srcLinkField }}
              </th>
              <th>
                {{ content.shortLinkField }}
              </th>
              <th>
                {{ content.statLinkField }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(link, index) in links"
              :key="index"
            >
              <td style="max-width: 500px">
                <a
                  :href="link.srcUrl"
                  target="_blank"
                >{{ link.srcUrl }}</a>
              </td>
              <td>
                <a
                  :href="link.shortUrl"
                  target="_blank"
                >{{ link.shortUrl }}</a>
              </td>
              <td>
                <a
                  :href="link.statisticUrl"
                  target="_blank"
                >{{ content.statLinkName }}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

export default {
    props: {
        content: {
            type: Object,
            required: true
        },
    },
    data() {
        return {
            links: []
        }
    },
    mounted() {
        const tokens = JSON.parse(localStorage.getItem('links'));
        tokens && axios.post('/getHistory', {
            tokens
        })
            .then(res => {
                this.links = res.data;
            })
            .catch(function (error) {
                console.log(error);
            });
    },
};
</script>
<style>
.table td, th {
    word-wrap: break-word;
}
</style>

